@model Rythmm.ViewModels.AlbumIndexViewModel
@{
    ViewBag.Title = "index";
}

<h2>Albums</h2>
<table>
    <tr class="tableTitles">
        <th>Name</th>
        <th>Artist</th>
    </tr>
@foreach(var album in Model.Albums)
{
    <tr class="tableBody">
        <th>@album.Name</th>
        <th>@Model.Artists.ElementAt(album.ArtistId - 1).Name
        </th>
    </tr>
}
</table>